.footer {
    background-color: #292e33;
    max-height: 190px;
    .footer-content {
        display: inline-block;
    }
    img {
        margin: 20px auto;
    }
    p {
        font-weight: 100;
        color: #7f8285;
    }
}