@import "../../../src/styles.scss";
section.client-container {
    position: relative;
    min-height: 350px;
    
    img.clients-bg-image {
        position: absolute;
        max-height: 490px;
        bottom: 0;
        right: 0px;
    }
}

.social-media-card {
    border-radius: 0;
    color: #fff;
}

.social-media {
    padding: 0;
}

.social-media .youtube {
    background-color: #e62117;
}

.social-media .instagram {
    background-color: #45739a;
}

.social-media .twitter {
    background-color: #1da1f2;
}