<div class="container-fluid">
    <section class="first-section">
        <div class="row">
            <div class="col-xs-12 banner-container">
                <img class="img-fluid" src="../../assets/images/home-banner.jpg" alt="banner collage">
                <div class="banner-heading">
                    <h1 class="display-4">Design Minded</h1>
                    <p class="lead banner-sub">Technologist • Coach</p>
                    <button class="btn btn-success" type="button">Watch Me Speak</button>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <section class="row client-container">
        <div class="col-lg-8">
            <div class="section-title">
                <h2 class="section-h2">Partial</h2>
                <h3 class="section-h3">Client List</h3>
            </div>
            <div class="mb-5">
                <div class="client-logos">
                    <div class="row">
                        <div class="col-sm-12 col-lg-3 text-center">
                            <img class="img-fluid client-logo" src="../../assets/images/coca-cola.png" alt="coca-cola logo">
                        </div>
                        <div class="col-sm-12 col-lg-3 text-center">
                            <img class="img-fluid client-logo" src="../../assets/images/webmd.png" alt="webmd logo">
                        </div>
                        <div class="col-sm-12 col-lg-3 text-center">
                            <img class="img-fluid client-logo" src="../../assets/images/miramax.png" alt="miramax logo">
                        </div>
                        <div class="col-sm-12 col-lg-3 text-center">
                            <img class="img-fluid client-logo" src="../../assets/images/ffca.png" alt="fathers and families logo">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-3 text-center">
                            <img class="img-fluid client-logo" src="../../assets/images/home-depot.png" alt="the home depot logo">
                        </div>
                        <div class="col-sm-12 col-lg-3 text-center">
                            <img class="img-fluid client-logo" src="../../assets/images/hbo.png" alt="hbo logo">
                        </div>
                        <div class="col-sm-12 col-lg-3 text-center">
                            <img class="img-fluid client-logo" src="../../assets/images/penndot.png" alt="penndot logo">
                        </div>
                        <div class="col-sm-12 col-lg-3 text-center">
                            <img class="img-fluid client-logo" src="../../assets/images/kfc.png" alt="kfc">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="clients-bg-image img-fluid" src="../../assets/images/shawn-suit.png" alt="shawn in suit">
        </div>
    </section>
</div>
<div class="container-fluid social-media">
    <section>
        <div class="row no-gutters">
            <div class="col">
                <div class="card social-media-card youtube">
                    <div class="card-body">This is social media</div>
                </div>
            </div>
            <div class="col">
                <div class="card social-media-card instagram">
                    <div class="card-body">This is social media</div>
                </div>
            </div>
            <div class="col">
                <div class="card social-media-card twitter">
                    <div class="card-body">This is social media</div>
                </div>
            </div>
        </div>
    </section>
</div>