@import "../../../src/styles.scss";
section.client-container {
    position: relative;
    min-height: 350px;
    
    img.clients-bg-image {
        position: absolute;
        max-height: 490px;
        bottom: 0;
        right: 0px;
    }
}

.social-media-card {
    border-radius: 0;
    color: #fff;
    .social-icon-cont {
        border-right: 1px solid white;
    }
    .social-icon-cont {
        vertical-align: middle;
    }
    p {
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .card-body p.social-media-title {
        text-transform: uppercase;
        font-weight: 100;
        font-size: .8rem;
    }
    .card-body p.subcribers {
        font-weight: 400;
    }
}

.social-media {
    padding: 0;
}

.social-media .youtube {
    background-color: #e62117;
}

.social-media .instagram {
    background-color: #45739a;
}

.social-media .twitter {
    background-color: #1da1f2;
}